{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 22, "knowledge_revision": 45, "git_revision": "b688da23da6395770f952d164cca78ee2363de72", "hash": "30f386dfc16436f611a094345bacac55", "format-version": 4, "code-base-name": "default", "filename": "backend_workspace/backend/requirements.txt", "revision_history": [{"45": "b688da23da6395770f952d164cca78ee2363de72"}]}