{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 26, "knowledge_revision": 56, "git_revision": "bf3885f4f8a14e7480dfcf919f9b54a76bbc0150", "hash": "30f386dfc16436f611a094345bacac55", "format-version": 4, "code-base-name": "default", "filename": "backend_workspace/backend/requirements.txt", "revision_history": [{"56": "bf3885f4f8a14e7480dfcf919f9b54a76bbc0150"}]}